@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.principal {

    list-style: none;
    box-sizing: border-box;
    /* height: 100vh; */
    
}

.legal {

    align-items: center;
    text-align: center;
    background: rgb(59,114,240);
    background: linear-gradient(90deg, rgba(59,114,240,1) 34%, rgba(17,85,191,0.8855917366946778) 75%);
    color: #DADDDF;
}

.formulario {

    font-family: 'Prompt', sans-serif;
    padding-top: 2em;
    padding-bottom: 7em;
}

.campo {

    padding-top: 1em;
    padding-bottom: 1em;
}

.campos {
    /* padding: 1.5em 7em; */
    border-radius: 12px;
    border: 2px solid var( --cor-de-fundo-da-apresentção-do-formulario);
    margin-bottom: 1.5em;
    width: 50vh;
    height: 6.5vh;
    text-align: center;
    font-size: 1rem;
}

.campos::placeholder {

    font-size: 1.1rem;
}

.lista_dinamica {

    gap: 30px;
}

.elemento_dinamico {

    margin-bottom: .6em;
}

footer {
    margin-top: 30em;
    font-family: var(--familia-rodapé);
}

.lista_rodapé {

    list-style: none;
}

.direcionar {

    padding: .7em 9em;
    border-radius: 10px;
    border: 2px solid var(--cor-de-fundo-da-apresentção-do-formulario);
    margin-top: .7em;
    font-family: var( --familia-titulo-conteudo);
    font-size: 1.3rem;
}

.direcionar:hover {

    background-color: var(--cor-botão-cadastrar);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    transition: opacity 6s ease;
}

.direcionar:active {

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 1px;
    left: 1px;
}

.imagem_nome_campo {
    width: 3%;
    margin: -49em 36em 0em 0em;
}

.imagem_formulario {

    width: 10%;
}

.tiutlo_formulario {

    font-size: 1.2rem;
}


.titulo_tabela {

    font-size: 2rem;
    font-family: var(--familia-titulo-conteudo);
    margin-bottom: 3em;
    
}

table {

    border-collapse: collapse;
    
}

th {

    width: 100vh;
    padding: .6em;
    font-size: 1.5rem;
    font-family: var(--familia-titulo-formulario);
    /* border: 2px solid #93BFCF; */
    text-align: center;
    /* border: 2px solid rgba(59,114,240,1); */
}

td {

    padding: 1em;
    font-size: 1.1rem;
    font-family: var(--familia-final);
    width: auto;

}

tr:nth-child(even) {

    background-color: rgba(59,114,240,1);
    color: #DADDDF;
}

.legal_apresentação {

    padding: 4em;
    color: #DADDDF;
    font-family: var(--familia-titulo-formulario);
    align-items: center;
}

.titulo_seção {
    font-size: 3rem;
    
    
    padding-bottom: 1em;
}
.paragrafo_seção {

    font-size: 1.1rem;
}

.divisão_lista_dinamica {

    /* padding-left: 46.7em; */
    align-items: center;
    margin: 5em 0em 5em 0em;
    text-align: center;
    align-items: center;
}


.imagem_lista {

    width: 7%;
    padding-left: 50em;
    padding-top: 1em;
    margin: 0;
}

.link {

    margin: 20em 0em 0em 10em;
    font-family: var(--familia-titulo-conteudo);
}

.texto_link {

    font-size: 2rem;
    margin-bottom: 2em;
}

.botão {

    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    background-color: rgba(59,114,240,1);
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botão:hover {
    background-color: #2980b9;
}
  
  /* Estilo quando pressionado */
  .botão:active {
    background-color: #1f6690;
}

