@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.principal {

    list-style: none;
    box-sizing: border-box;
    height: 100vh;
    
}

.legal {

    align-items: center;
    text-align: center;
    background: rgb(27,175,210);
    background: linear-gradient(0deg, rgba(27,175,210,0.9023984593837535) 21%, rgba(22,112,219,1) 68%);
    
}

.formulario {

    font-family: 'Prompt', sans-serif;
    padding-top: 2em;
    padding-bottom: 7em;
}

.campo {

    padding-top: 1em;
    padding-bottom: 1em;
}

.campos {
    /* padding: 1.5em 7em; */
    border-radius: 12px;
    border: 2px solid var( --cor-de-fundo-da-apresentção-do-formulario);
    margin-bottom: 1.5em;
    width: 50vh;
    height: 6.5vh;
    text-align: center;
    font-size: 1rem;
}

.campos::placeholder {

    font-size: 1.1rem;
}

.lista_dinamica {

    gap: 30px;
}

.elemento_dinamico {

    margin-bottom: .6em;
}

footer {
    margin-top: 90em;
}

.lista_rodapé {

    list-style: none;
}

.direcionar {

    padding: .7em 9em; 
    border-radius: 10px;
    border: 2px solid var(--cor-de-fundo-da-apresentção-do-formulario);
    margin-top: .7em;
    font-family: var( --familia-titulo-conteudo);
    font-size: 1.3rem;
}

.direcionar:hover {

    background-color: var(--cor-botão-cadastrar);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    transition: opacity 6s ease;
}

.direcionar:active {

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 1px;
    left: 1px;
}

.imagem_nome_campo {
    width: 3%;
    margin: -49em 36em 0em 0em;
}

.imagem_formulario {

    width: 10%;
}

.titulo_seção {

    padding: 3em;
    font-size: 3rem;
    font-family: var(--familia-titulo-formulario);
    color: #DADDDF;
}

.tiutlo_formulario {

    font-size: 1.2rem;
}

.divisão_lista_dinamica {

    /* padding-left: 46.7em; */
    gap: 30px;
    align-items: center;
    margin: 5em 15em 5em 0em;
}

.lista_dinamica {

    display: flex;
    list-style: none;
    font-family: var(--familia-titulo-formulario);
    gap: 40px;
}

