@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.about-section {
  background-color: #e1f0ff;
  padding: 15em 0;
}

.content {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #3498db;
  font-size: 3rem;
  font-family: var(--familia-pricipal);
  margin-bottom: 2em;
}

h6 {
  color: #333;
  font-size: 1.3rem;
  font-family: var(--familia-pricipal);
}

.brenga {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    width: 30em;
    
    font-size: 1.3rem;
    font-family: var(--familia-sobre-mim);
    gap: 0px;
}

.sobreMim_texto {

    width: 30em;
    
    font-size: 1.3rem;
    font-family: var(--familia-sobre-mim);
    margin-bottom: 1.1em;
}

.dois {

    margin-top: 3em;
}