@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.about-section {
  background-color: #e1f0ff;
  padding: 23em 8em;
}

.content {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #3498db;
  font-size: 3rem;
  font-family: var(--familia-pricipal);
  margin-bottom: 2em;
}

h6 {
  color: #333;
  font-size: 1.3rem;
  font-family: var(--familia-pricipal);
}

.brenga {
  text-decoration: double;
  color: black;
  font-size: 1rem;
  width: 30em;  
  font-size: 1.3rem;
  font-family: var(--familia-sobre-mim);
}

.sobreMim_texto {

    width: 30em;
    
    font-size: 1.3rem;
    font-family: var(--familia-sobre-mim);
    margin-bottom: 1.1em;
}

.dois {

    margin-top: 3em;
}

.rodapé_container {

  /* display: grid 35% 35% 30%; */
  display: flex;
  justify-content: space-around;
}

.rodapé_titulo {

  font-size: 3em;
  font-family: var(--familia-rodapé);
}

.titulo_lista {

  font-size: 1.6rem;
}

.lista_rodapé {

  font-family: var(--familia-rodapé);
}

.lista_rodapé_elemento {

  padding-top: 1em;
  font-size: 1.2rem;
}

.elemento_objetivo {

  width: 10em;
}



.tres {

  background-color: white;
  border: none;
}

.dez {

  background-color: white;
  padding-top: 5em;
}

.texto_rodapé {

  padding-bottom: .5em;
}